<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="me">
                <div><i class='bx bx-user'></i> <span>김민정</span></div>
                <div><i class='bx bx-envelope'></i> <span>qoi11@naver.com</span></div>
                <div><i class='bx bx-code-block'></i> <span>백엔드 개발자</span></div>
            </div>
            <div class="category">
                <h1><i class='bx bxs-file-pdf'></i> <a href="http://127.0.0.1:8000/"><span>직독 한문 번역</span></a></h1>
                <h1><i class='bx bx-game'></i> <a href="https://hanja.dict.naver.com/#/main"><span>네이버 한자 사전</span></a></h1>
            </div>
        </div>
    </header>
    <section>
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </section>
</body>
</html>