{% extends "./header.html" %}
{% block content %}
    <div class="hanja">
        <div class="title">
            <div class="overlay"></div>
            <div class="text">직독<span>讀</span> 한문 번역</div>
        </div>
        <div class="section">
            <div class="translate">
                <div class="check">
                    <label class="custom-checkbox">
                        <input type="checkbox" id="checkbox1" checked>
                        한문 번역
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="checkbox2">
                        한문 분석
                    </label>
                </div>
                <form id="pdf-upload-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="put" onclick="document.getElementById('pdf-input').click()">
                        <div>+</div>
                        <div>이곳에 pdf 파일을 올려주세요</div>
                        <input type="file" id="pdf-input" accept="application/pdf" style="display: none;" onchange="uploadPDF()">
                    </div>
                </form>
            </div>
            <div class="explain">
                <p>이용 방법</p>
                <p>
                    <div>1. 원하는 PDF를 체크박스로</div>
                    <div>선택해주세요.</div><br><br>
                    <div>2. 한문번역은 PDF의 한자를 </div>
                    <div>직독으로 번역하고,</div> 
                    <div> 한문분석은 PDF에 자주 나오는 한문을 </div> 
                    <div>분석하여 그래프로 보여드립니다.</div><br><br>
                    <div>3. PDF를 올리시면 해당 PDF를</div>
                    <div>받으실 수 있습니다.</div>
                </p>
            </div>
        </div>
    </div>
    <script src="../../static/js/main.js"></script>
{% endblock %}