{% extends "./header.html" %}
{% block content %}
    <div class="hanja">
        <div class="title">
            <div class="overlay"></div>
            <div class="text">직독<span>讀</span> 한문 번역</div>
        </div>
        <div class="section">
            <div class="translate">
                <form id="pdf-upload-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="check">
                        <label class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="checkbox1" checked>
                            PDF를
                        </label>
                        <label class="custom-checkbox">
                            <input type="checkbox" id="checkbox2" name="checkbox2">
                            올려주세요
                        </label>
                    </div>
                    <div class="put" onclick="document.getElementById('pdf-input').click()">
                        <div>+</div>
                        <div>이곳에 pdf/hwp 파일을 올려주세요</div>
                        <input type="file" id="pdf-input" accept="application/pdf" style="display: none;" onchange="uploadPDF()">
                    </div>
                </form>
            </div>
            <div class="explain">
                <p>이용 방법</p>
                <p>
                    <div>1. 한문이 있는 PDF를 올려주세요</div><br>
                    <div>2. 한문번역은 PDF의 한자를 </div>
                    <div>직독으로 번역하고,</div> 
                    <div> 한문분석은 PDF에 자주 나오는 한문을 </div> 
                    <div>분석하여 그래프로 보여드립니다.</div><br><br>
                    <div>3. PDF를 올리시면 한문번역, 한문분석</div>
                    <div>PDF를 받으실 수 있습니다.</div>
                </p>
            </div>
        </div>
    </div>
    <!-- <script>
        let checkbox1 = document.querySelector('#checkbox1');
        let checkbox2 = document.querySelector('#checkbox2');

        if (checkbox1.checked) {
            alert("체크됨")
        }

        // 체크박스 상태 변경 시 반영
        document.getElementById('checkbox1').addEventListener('change', updateCheckboxState);
        document.getElementById('checkbox2').addEventListener('change', updateCheckboxState);

        function updateCheckboxState() {
            console.log("checkbox1 상태:", document.getElementById('checkbox1').checked);
            console.log("checkbox2 상태:", document.getElementById('checkbox2').checked);
        }
    </script> -->
    <script src="../../static/js/main.js"></script>
{% endblock %}