<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Exam Template</h1>
    <ol>
        <li><a href="/ex_template/ex01/">ex01</a></li>
        <li><a href="/ex_template/ex02/">ex02</a></li>
        <li><a href="/ex_template/ex03/">ex03</a></li>
        <li><a href="/ex_template/ex04/">ex04</a></li>
        <li><a href="/ex_template/ex05/">ex05</a></li>
    </ol>
</body>
</html>